.card {
    
    border: none;
    width: 500px;
    padding:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #33ccff 6%, #ff99cc 100%);
    

}