<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <title>All Products</title>
</head>


<body>
    <div *ngFor="let product of products" class="card bg-dark text-white" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> {{product.name}}</h5>
                    <br>
                    <h5> {{product.image}} </h5>
                    <br>
                    <p> Each product is hand picked! See below for the nutrients. </p>
                    <h5> {{product.nutritions}} </h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</body>



</html>