<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Signup</h1>
          <h6>Register</h6>
        </div>
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label for="exampleInputFUllName1" class="form-label">Full Name</label>
              <input formControlName="fullName" type="text" id="exampleInputFUllName1" class="form-control"
                id="inputFullName1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPhoneNumber1" class="form-label">Phone Number </label>
              <input input formControlName="phoneNumber" type="number" id="exampleInputPhoneNumber" class="form-control"
                id="inputPhoneNumber1">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" id="exampleInputEmail1" class="form-control" id="inputEmail1"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">All information is private.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="inputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Sign up

            </button>

            <a style="color:white; margin-top: 10px;" routerLink="/login">Already registered click to login</a>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>